<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Vue</title>
</head>
<body>
    <div id="app">
       <input type="text" v-model="name" placeholder="이름입력">
       <button @click="send">send</button>
       <input type="text" v-model="name" placeholder="이름입력2" @keyup="send">
       <input type="text" v-model="name" placeholder="이름입력2" @keyup.13="send">
       <input type="text" v-model="name" placeholder="이름입력2" @keyup.enter="send">
    </div>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            name: 'Vue.js'
        },
        methods: {
            send() {
              alert(this.name)
            },
          
        },
    })

</script>
</body>
</html>