<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Vue</title>
</head>
<body>
  <div id="app">
    <h2>당신이 떠나고 싶은 여행지를 선택하시오</h2>
    <input type="checkbox" id="seoul" v-model="checkedAreas" value="서울">
    <label for="seoul">서울</label>
    <input type="checkbox" id="hawii" v-model="checkedAreas" value="하와이">
    <label for="hawii">하와이</label>
    <input type="checkbox" id="bangkok" v-model="checkedAreas" value="방콬">
    <label for="bangkok">방콬</label>
    <input type="checkbox" id="cebu" v-model="checkedAreas" value="세부">
    <label for="cebu">세부</label>
    <input type="checkbox" id="changwon" v-model="checkedAreas" value="창원">
    <label for="changwon">창원</label>

    <p>체크한 이름은 {{checkedAreas}}</p>
  </div>
<script>
    const app = new Vue({
        el: '#app',
        data: {
          checkedAreas:[]
         },
    })

</script>
</body>
</html>